body {
  /* background-color: #e8e8e8; */
  text-align: center;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/aca99c6a-6105-490a-b00b-d0b557d639a4/ddzy3e5-86546d95-6ce8-498e-821e-ef093b3617bb.jpg/v1/fill/w_1024,h_1024,q_75,strp/rock_paper_scissors_bully_by_naolito_ddzy3e5-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD0xMDI0IiwicGF0aCI6IlwvZlwvYWNhOTljNmEtNjEwNS00OTBhLWIwMGItZDBiNTU3ZDYzOWE0XC9kZHp5M2U1LTg2NTQ2ZDk1LTZjZTgtNDk4ZS04MjFlLWVmMDkzYjM2MTdiYi5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.7ph5r7Pv0n4acUYeOvurYcMASl22SeKQ94QVHLGemK4");
}

h1 {
  margin: 30px;
  margin-bottom: 5px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #fca652;
  text-align: center;
}

p {
  font-size: 1rem;
  font-family: 'Indie Flower', cursive;
  margin-top: 0px;
  margin-bottom: 0px;
}